.nav li{
    cursor: pointer;
}
.nav .home:hover{
   color:#aa1d1dcc;
}
img{
    object-fit: fill;
    cursor: pointer;
    border: solid rgba(110, 113, 105, 0.742) 0.1rem ;
}
input:focus{
    outline: none;
    box-shadow: none;
    
}
a{
    cursor: pointer;
}

