<!-- mainslider -->
<section >
    
    <div class="grid grid-cols-[100%] ">
    <owl-carousel-o [options]="pannerOptions">
        <ng-template carouselSlide> <img src="/images/slider/img7.avif" class="w-full h-[200px] md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        <ng-template carouselSlide> <img src="/images/slider/img5.avif" class="w-full h-[200px] md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        <ng-template carouselSlide> <img src="/images/slider/img6.avif" class="w-full h-[200px] md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        <ng-template carouselSlide> <img src="/images/slider/img4.avif" class="w-full h-[200px] md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        <ng-template carouselSlide> <img src="/images/slider/img1.avif" class="w-full h-[200px]  md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        <ng-template carouselSlide> <img src="/images/slider/img2.avif" class="w-full h-[200px] md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        <ng-template carouselSlide> <img src="/images/slider/img3.avif" class="w-full h-[200px] md:h-[260px] lg:h-[360px]  object-fill" alt=""></ng-template>  
        
      </owl-carousel-o>
    </div>
</section>
