<section class=" max-w-5xl pb-3 flex justify-center mx-auto  pt-8 px-2 min-h-[40vh]">
  
  
  
  
    @if (num>=1) {
      <div class="contain  w-full">
          <div class="nav grid grid-cols-12 font-semibold text-[13px] md:text-[15px]">
           <div class="col-span-7 ">
   <h1>PRODUCT</h1>
           </div>
          
       
           <div class="col-span-3 text-center ">
               <h1>PRICE</h1>    
           </div>
           
       </div>
       <div class="line w-full h-[0.008rem] bg-gray-300 mt-2"></div>
      
   
       <!-- item of cart  -->
        @for (pro of products.data; track $index) {
            
           <div class="grid grid-cols-12 pt-1 text-[13px] md:text-[15px]">
           <div class="col-span-7 flex items-center  space-x-3">
   <img class="size-20 object-contain" [src]="pro.imageCover" alt="ss">
   <!-- title -->
   <div class="flex flex-col">
       <h2>{{pro.title.split(' ',2).join(' ')}}</h2>
   <span class="flex text-gray-500 text-sm" >
       <ul>
           <li class="fa-solid fa-star text-[10px] text-[#EAC809]"></li>
           <li class="fa-solid fa-star text-[10px] text-[#EAC809]"></li>
           <li class="fa-solid fa-star text-[10px] text-[#EAC809]"></li>
           <li class="fa-solid fa-star text-[10px] text-[#EAC809]"></li>
           <li class="fa-solid fa-star text-[10px] text-[#EAC809]"></li>
       </ul>
       ({{pro.ratingsAverage}})
   </span>
   </div>
           </div>
         
          
           <div class="col-span-3 flex items-center justify-center text-[#CA1515] ">
   <h2 >{{pro.sold |currency:'GBP'}}</h2>
           </div>
          
           
           <div class="col-span-2 flex items-center justify-center text-[#CA1515]">
   <span (click)="deleteProOfCart(pro.id)" class="fa-solid fa-heart cursor-pointer  hover:text-gray-400  text-[17px] md:text-[20px] "></span>
           </div>
           
       </div>
       <div class="line w-full h-[0.008rem] bg-gray-300 mt-1"></div>
   
        }
       
      
       </div>
  }  
  @else if(num==0) {
      <div class=" flex justify-center ">
          <img class="w-[35%]" src="/images/Add Favorite Items into Wishlist.png" alt="">
      </div>
  }
  
    
     
  </section>
